

</div>
</div>
</div><!-- /.container -->
<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
<br><br><br>
<hr>
<section class="footer">
  <h3>Hello My Friend! Sory! HiHi </h3>
  <p>This website is a book seller but the backend is bad and the backend is bad!</p>
  <div class="social">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-facebook-f"></i></a>
  </div>
  <p class="copyright"> &COPY;bookLibs Fake 2022</p>

</section>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
